<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>내용</th>
            <th>작성자</th>
            <th>작성 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.getContent()}"></td>
            <td th:text="${comment.getUsername()}"></td>
            <td th:text="${comment.getCreateDate()}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/comment/add}" method="post">
        <textarea name="content" id="content" rows="10"></textarea>
        <input type="submit" value="댓글 등록">
    </form>
</div>
</html>
