<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>댓글</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.getContent()}"></td>
            <td th:text="${comment.getUsername()}"></td>
            <td th:text="${#temporals.format(comment.getCreateDate(), 'yy/MM/dd')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="row">

            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <form th:object="${commentCreateForm}" th:action="@{/comment/{writingId}(writingId=${writingId})}" method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <textarea name="content" id="content" class="form-control" rows="4" placeholder="댓글을 작성해보세요."></textarea>
                </div>
                <input type="submit" value="저장" th:formaction="@{/comment/{writingId}(writingId=${writingId})}" class="btn btn-primary my-2">
            </form>
        </div>
        <div class="col-md-1">
            <form method="get">
                <input type="submit" value="뒤로가기" th:formaction="@{/writing/{writingId}(writingId=${writingId})}" class="btn btn-primary my-2">
            </form>
        </div>
    </div>
    <form th:action="@{/writing/{writingId}(writingId=${writingId})}" method="get"></form>
</div>
</html>
