<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>내용</th>
            <th>작성자</th>
            <th>작성 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.getContent()}"></td>
            <td th:text="${comment.getUsername()}"></td>
            <td th:text="${comment.getCreateDate()}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/comment/{writingId}(writingId=${writingId})}" th:object="${commentCreateForm}" method="post">
<!--        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
<!--            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--        </div>-->
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="4"></textarea>
        </div>
        <input type="submit" value="저장" class="btn btn-primary my-2">
    </form>
</div>
</html>
