<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h1 class="border-bottom py-2" th:text="${writing.getTitle()}"></h1>
    <div class="d-flex justify-content-end">
        <div class="badge text-dark p-2 text-start">
            <div th:text="${#temporals.format(writing.getCreateDate(), 'yy/MM/dd HH:mm')}"></div>
            <div th:text="${writing.getUsername()}"></div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${writing.getContent()}"></div>
        </div>
    </div>
    <form th:action="@{|/comment/${writing.getId()}|}" method="get">
        <input type="submit" value="댓글 보기">
    </form>
</div>
</html>

