<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width: 50%">제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="writing, loop : ${writingList}">
            <td th:text="${writingList.totalElements - (writingList.number * writingList.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/writing/${writing.getId()}|}" th:text="${writing.getTitle()}"> </a>
            </td>
            <td th:text="${writing.getUsername()}"></td>
            <td th:text="${#temporals.format(writing.getCreateDate(), 'yy/MM/dd')}" ></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/writing/save}" class="btn btn-primary">글쓰기</a>
    <!-- 페이징처리 시작 -->
    <div th:if="${!writingList.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!writingList.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${writingList.number - 1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, writingList.totalPages -1)}"
                th:if="${page >= writingList.number - 2 and page <= writingList.number + 2}"
                th:classappend="${page == writingList.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!writingList.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${writingList.number + 1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>
</html>
