<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h1 class="border-bottom py-2" th:text="${writing.getTitle()}"></h1>
    <div class="d-flex justify-content-end">
        <div class="badge text-dark p-2 text-start">
            <div th:text="${#temporals.format(writing.getCreateDate(), 'yy/MM/dd')}"></div>
            <div th:text="${writing.getUsername()}"></div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${writing.getContent()}"></div>
        </div>
        <div class="p-3">
            <a th:href="@{|/writing/modify/${writing.id}|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${writing.username != null and #authentication.getPrincipal().getUsername() == writing.username}"
               th:text="수정">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <form th:action="@{|/comment/${writing.getId()}|}" method="get">
                <input type="submit" value="댓글" class="btn btn-primary my-2">
            </form>
        </div>
        <div class="col-md-1">
            <form th:action="@{/writing}" method="get">
                <input type="submit" value="뒤로 가기" class="btn btn-primary my-2">
            </form>
        </div>
    </div>
</div>
</html>